<!DOCTYPE html>
<html>
<head>
	<title>Food Time</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>


	<!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

</head>

<body>

	<%= render :partial => 'shared/header' %>
	<div class="notice" style="margin: 0px"><%= notice %> </div>
	<div class="alert" style="padding: 0px; margin-bottom: 0px; border: 0px"><%= alert %></div>
	<%= yield %>

</body>
</html>
